// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';
$c-black: #000;
$c-white: #fff;
$c-highlight-black: #15292e;
$c-border-purple: #6b0950;
$c-grey: #d3d3d3;
$c-border-grey: rgba(#a48099,.59);
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'layout';
@import 'gamebox';
@import 'navbox';
@import 'navside__title';
@import 'nav__borderbox';
@import 'bottom__navbox';
@import 'footer';

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-item {
  display: flex;
  flex-basis: calc(100% / 5 - 5rem);
  flex-direction: column-reverse;
  margin: 1rem;

  &__name {
    color: blue;
  }
}

.frame {
  // flex-grow: 1;
}
