// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';
$c-black: #000;
$c-white: #fff;
$c-highlight-black: #15292e;
$c-border-purple: #6b0950;
$c-grey: #d3d3d3;
$c-darkgrey: #676562;
$c-border-grey: rgba(#a48099,.59);
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'navbox';
@import 'bottom__navbox';
@import 'gamebox';
@import 'navside__title';
@import 'nav__borderbox';
@import 'footer';
@import 'main';
@import 'layout';
@import 'logside';

.main__triangle {
  display: flex;
  justify-content: flex-end;

  &-btn {
    position: relative;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 0;
    background: transparent;

    &:checked {
      .main__triangle-collapse {
        display: none;
      }
      .main__triangle-expand {
        display: flex;
      }
    }

    & i {
      position: absolute;
      bottom: 25%;
      color: $c-darkgrey;

    }
  }
  &-expand {
    display: none;
  }
}
