// not getting the positioning correct. when absolute the footer takes the width of whole page not the sidebar
// might need to put the footer outside the sidebar and float it left under the side by adjusting heights
// instead of side 100vh maybe 90vh and footer 10vh

.navside__footer {
  // display: flex;
  position: relative;
  // justify-content: space-around;
  width: 100%;
  padding-top: 1rem;
  background: $c-black;

  &-login {
    & button {
      // position: static;
      padding: 0.5rem 1rem;
      border: 0;
      background: $c-border-purple;
      color: $c-grey;
      font-size: 1rem;
    }
  }

  &-signup {
    & button {
      // position: static;
      padding: 0.5rem 1rem;
      border: 0;
      background: $c-border-purple;
      color: $c-grey;
      font-size: 1rem;
    }
  }
}

.footer__container {
  display: flex;
  // position: absolute;
  justify-content: space-around;
}
