.navside__gamebox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  // object-fit: none;

  &-text {
    margin: 0.5rem 0;
    padding-left: 1rem;
    text-align: left;

    & h5 {
      margin: 0;
    }

    & p {
      margin: 0;
      color: $c-grey;
      font-size: 0.8rem;
    }
  }

  &-img {
    // object-fit: cover;
    width: 30%;
  }
  &:hover {
    background: $c-highlight-black;
  }
}
