.fullpage {
  display: inline;
  margin: 0 auto;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.navside {
  width: calc(30% - 0.1rem);
  float: left;
  background: black;
  color: white;
  text-align: center;
}

.main {
  width: calc(70% - 0.1rem);
  float: left;
  float: right;
  background: red;
}
