.fullpage {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  margin: 0 auto;
}

.navside {
  display: flex;
  flex-wrap: wrap;
  width: calc(20% - 0.1rem);
  min-width: 12rem;
  height: 100%;
  padding: 0.5rem;
  background: $c-black;
  color: $c-white;
  text-align: center;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(54% - 0.1rem);
  padding-right: 25%;
  overflow: auto;

}

img {
  width: 100%;
}

ul {
  list-style: none;
}
@media (max-width: 1000px) {
  .navside-mobile {
    display: flex;
    flex-direction: column;
  }

  .icons {
    display: flex;
    flex-direction: column;
    width: 3rem;
    padding-bottom: 0.9rem;
    color: $c-white;

    &:hover {
      background: $c-highlight-black;
    }
  }

  .logside {
    display: none;
  }

  .main {
    padding: 0;
  }

  .game-item {
    flex-basis: calc(100% / 5 - 2.5rem);
  }

  .navside {
    position: initial;
    min-width: 3rem;
    max-width: 4rem;

    &__title {
      display: none;
    }

    &__navbox {
      display: none;
    }

    &__searchbar {
      display: none;
    }

    &__borderbox {
      display: none;
    }

    &__gamebox {
      &-text {
        display: none;
      }

      &-img {
        width: 2rem;
        padding-left: 1rem;
      }
    }
  }

  .navside__bottom__navbox {
    flex-direction: column;
    padding-left: 0;
    font-size: 0.3rem;

    &-left {
      // display: none;
      // padding-left: 0;
    }

    &-right {
      // display: none;
      // padding-left: 0;
    }
  }

  .navside__footer {
    display: none;
  }
}
