// not sure if i still need a right side box if so i might move the navside to the right and create the
// screenshot bar on the left

.fullpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.navside {
  display: flex;
  flex-wrap: wrap;
  width: calc(20% - 0.1rem);
  min-width: 12rem;
  height: 100vh;
  padding: 0.5rem;
  background: $c-black;
  color: $c-white;
  text-align: center;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(80% - 0.1rem);
  // height: 100vh;
  overflow: auto;

}

img {
  width: 100%;
}

ul {
  list-style: none;
}
@media (max-width: 1000px) {
  .navside-mobile {
    display: flex;
    flex-direction: column;
  }

  .icons {
    display: flex;
    flex-direction: column;
    width: 3rem;
    padding-bottom: 0.9rem;
    color: $c-white;
  }

  .navside {
    min-width: 3rem;
    max-width: 4rem;

    &__title {
      display: none;
    }

    &__navbox {
      display: none;
    }

    &__searchbar {
      display: none;
    }

    &__borderbox {
      display: none;
    }

    &__gamebox {
      // display: none;

      &-text {
        display: none;
      }
      &-img {
        width: 2rem;
        padding-left: 1rem;
      }
    }
  }

  .navside__bottom__navbox {
    flex-direction: column;
    padding-left: 0;
    font-size: 0.3rem;

    &-left {
      // display: none;
      // padding-left: 0;
    }

    &-right {
      // display: none;
      // padding-left: 0;
    }
  }

  .navside__footer {
    display: none;
  }
}
