.navside__borderbox {
  width: 100%;
  margin: 1rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid $c-border-grey;
  color: $c-grey;
  font-size: 0.8rem;
  font-weight: lighter;
  text-align: left;
}
