// this is the box under the future search box, it highlights when hovered. had to make a transparent border to keep the
// hover from jumping.  hover is nested too low for lint

.navside__searchbar {
  width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.4rem;

  & input {
    margin-right: 1rem;
    padding: 0.2rem;
    padding-right: 1.3rem;
    border: 0.1rem solid $c-border-purple;
    background: $c-highlight-black;
    color: $c-border-grey;
    font-size: 0.8rem;
  }
}

.navside__navbox {
  width: 100%;
  text-align: left;

  &-link {
    margin: 0;
    margin-bottom: 0.5rem;
    color: $c-white;
    font-size: 1.3rem;
    text-decoration: none;

    & h2 {
      padding: 0 1rem;
      border-left: 0.2rem solid transparent;

      &:hover {
        border-left: 0.2rem solid $c-border-purple;
        background: $c-highlight-black;
      }
    }
  }
}

.navside-mobile {
  display: flex;
  flex-direction: column;
}

.icons {
  display: none;
  color: $c-white;

}
