// this is the box under the future search box, it highlights when hovered. had to make a transparent border to keep the
// hover from jumping.  hover is nested too low for lint

.navside__searchbar {
  width: 90%;
  padding: 0.3rem;
  border: 0.1rem solid $c-border-grey;
  background: $c-highlight-black;
  color: $c-grey;
  text-align: left;
}

.navside__navbox {
  width: 100%;
  text-align: left;

  &-link {
    margin: 0;
    color: $c-white;
    text-decoration: none;

    & h2 {
      padding: 0 1rem;
      border-left: 0.2rem solid transparent;

      &:hover {
        border-left: 0.2rem solid $c-border-purple;
        background: $c-highlight-black;
      }
    }
  }
}

.navside-mobile {
  display: flex;
  flex-direction: column;


}

.icons {
  display: none;
  color: white;

}
